<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Lighter Blogs</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/general.css" />
  </head>
  <%- include("partials/header.ejs") %> <%- include("partials/sidebar.ejs") %>
  <main class="main-content">
    <div class="important-story">
      <div
        class="important-story-main story"
        onclick="location.href='/bad-ux-20-common-mistakes-in-user-experience'"
      >
        <div class="story-genre">UI/UX</div>
        <div class="important-story-heading">
          Bad Bad UX: 20 Common Mistakes in User Experience
        </div>
        <div class="story-writer">Paul Sawers</div>
        <div class="important-story-cover">
          <img src="images/important-story-cover.webp" alt="" />
        </div>
      </div>
      <div class="main-story-aside-content">
        <div class="aside-content-story-item">
          <div class="story-genre">Startups</div>
          <div class="aside-content-story-heading">
            Jump raises $12M to help freelancers get benefits just like
            employees
          </div>
          <div class="story-writer">Roman Dillet</div>
        </div>
        <div class="aside-content-story-item story">
          <div class="story-genre">Biotech & Health</div>
          <div class="aside-content-story-heading">
            Synex founder, once detained at the border with an 80-pound magnet,
            is building portable MRIs to test glucose
          </div>
          <div class="story-writer">Margaux MacColl</div>
        </div>

        <div class="aside-content-story-item story">
          <div class="story-genre">Startups</div>
          <div class="aside-content-story-heading">
            Some startups are going ‘fair source’ to avoid the pitfalls of open
            source licensing
          </div>
          <div class="story-writer">Paul Sawers</div>
        </div>
        <div class="aside-content-story-item story">
          <div class="story-genre">Apps</div>
          <div class="aside-content-story-heading">
            A guide to iOS 18’s hidden features and smaller updates
          </div>
          <div class="story-writer">Ivan Mehta</div>
        </div>
      </div>
    </div>
    <div class="stories">
      <div class="latest-stories">The&nbsp&nbspLatest</div>
      <div class="story-item story">
        <div class="story-item-left-section">
          <div class="story-genre">AI</div>
          <div class="story-heading">
            Cloudflare’s new marketplace lets websites charge AI bots for
            scraping
          </div>
          <div class="story-writer">Maxwell Zeff</div>
          <div class="upload-time">7 mins ago</div>
        </div>
        <div class="story-item-middle-section">
          <div class="story-description">
            Cloudflare announced plans on Monday to launch a marketplace in the
            next year where website owners can sell AI model providers access to
            scrape their site’s content. The marketplace is…
          </div>
        </div>
        <div class="story-item-right-section">
          <div class="story-cover">
            <img src="images/Cloudflare-cover.webp" alt="story cover" />
          </div>
        </div>
      </div>
      <div class="story-item story">
        <div class="story-item-left-section">
          <div class="story-genre">Social</div>
          <div class="story-heading">
            Reddit is bringing AI-powered, automatic translation to dozens of
            new countries
          </div>
          <div class="story-writer">Paul Sawers</div>
          <div class="upload-time">37 mins ago</div>
        </div>
        <div class="story-item-middle-section">
          <div class="story-description">
            Reddit is bringing machine learning-powered translations to more
            than 35 new languages, including Brazilian Portuguese and Spanish.
          </div>
        </div>
        <div class="story-item-right-section">
          <div class="story-cover">
            <img src="images/reddit-story-cover.webp" alt="story cover" />
          </div>
        </div>
      </div>
      <div class="story-item story">
        <div class="story-item-left-section">
          <div class="story-genre">Enterprise</div>
          <div class="story-heading">
            Commvault acquires data backup provider Clumio
          </div>
          <div class="story-writer">Kyle Wiggers</div>
          <div class="upload-time">13 hours ago</div>
        </div>
        <div class="story-item-middle-section">
          <div class="story-description">
            The deal is expected to close in early October. Commvault says it’s
            not material to its earnings and that it’ll be funded with cash on
            hand.
          </div>
        </div>
        <div class="story-item-right-section">
          <div class="story-cover">
            <img src="images/Enterprise-cover.webp" alt="story cover" />
          </div>
        </div>
      </div>
    </div>
  </main>
</html>
